@model IEnumerable<Restaurant.Models.Menu1>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "All Messages";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th class="text-center">Menu1ID</th>
            <th class="text-center">Food Name</th>
            <th class="text-center">Price1</th>
            <th class="text-center">TypeOfMeat</th>
            <th class="text-center">Type1</th>
            <th class="text-center">Stars1</th>
            <th class="text-center">Location</th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach (var menu in Model)
        {
            <tr>
                <td class="text-left">@menu.Menu1ID</td>
                <td class="text-left">@menu.Name1</td>
                <td class="text-left">@menu.Price1</td>
                <td class="text-left">@menu.TypeOfMeat</td>
                <td class="text-left">@menu.Type1</td>
                <td class="text-left">@menu.Stars1</td>
                <td class="text-left">@menu.Location</td>
                <td class="text-left">@menu.Description1</td>
                <td class="text-center">

                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-MessageID="@menu.Menu1ID">
                            Edit
                        </a>
                        <input type="hidden" name="MessageID" value="@menu.Menu1ID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <span class="label label-success">
        <a asp-action="MakeNewMessage" asp-controller="Message">Add Message</a>
    </span>
</body>
</html>